# Jekyll build artifacts
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Ruby / Bundler
.bundle/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.python-version

# OS-specific
.DS_Store